<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <form action="/input" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"><br>
        <label for="location">Dojo Location:</label>
        <select name="location" id="location">
            <option value="" id="location" ">San Jose2</option>
        </select><br>
        <label for=" language">Favorite Language:</label>
                <select name="language" id="language">
                    <option value="" id="language">Python</option>
                </select><br>
                <label for="comment">Comment(Optional):</label>
                <input type="text" name="comment" id="comment"><br>
                <button type="submit">Button</button>
    </form>

</body>

</html>